@font-face {
    font-family: 'Pokemon Solid';
    src: url('fonts/Pokemon Solid.ttf') format('truetype');
}

@font-face {
    font-family: 'Pokemon Hollow';
    src: url('fonts/Pokemon Hollow.tff') format('truetype');
}